Title: Välkommen till SweNug  -Sweden .Net user group!
NoSidebar: false
---

<p>Ni finner nu våra event på meetup.com:</p>

<div style="display: block; margin-left: auto; margin-right: auto;width:50%;">
    <p><a href="https://www.meetup.com/Swenug-Goteborg/">Swenug Göteborg</a></p>

    <p><a href="https://www.meetup.com/Swenug-Stockholm/">Swenug Stockholm</a><p>

    <p><a href="https://www.meetup.com/Swenug-Orebro/">Swenug Örebro</a></p>

    <p><a href="https://www.meetup.com/Swenug-Linkoping/">Swenug Linköping</a></p>
</div>

<blockquote class="blockquote"><p>Vårt mål med SweNug är att binda samman massa människor som delar samma intresse med varandra där vi kan dela kunskaper mellan varandra och även få kunskaper från utomstående.</p></blockquote>

<img src="/assets/img/swenugcollage.png" alt="SweNug collage" style="display: block; margin-left: auto; margin-right: auto;width:50%;"/>